.admin .header{
	background: url(../images/home-bg.jpg) no-repeat;
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 999;
	padding: 0 0 0 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.admin .header .logo {
	padding: 18px 20px 0 18px;
	width: 220px;
	height: 100%;
	border-right: 1px solid rgba(255, 255, 255, 0.18);
	margin: 0 0 0 0;
}

.admin .header .logo #logo {
	width: 100%;
	height:auto;
	background-size: 100% !important;
	position: relative;
	background: url(../images/logo.png) no-repeat;
}

.admin .header nav a{
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.admin .header nav a:hover{
	color: #DB4B4B; 
}

.user-nav#navbar-collapse-1 {
	width: calc(100% - 220px);
}

.nav.navbar-nav {
position: absolute;
right: 20px;
}


.menu-toggle {
	float: left;
}

.menu-toggle a {
	padding: 28px 40px 0 40px;
	font-size: 24px;
	line-height: 64px;
	color: #fff;
}

.close-menu{
	opacity: 0;
	transform: scale(.5);
	-webkit-transform: scale(.5);
}

.menu-hover{
	opacity: 1 !important;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.search-box {
	float: left;
	width: 220px;
	margin: 12px 0;
}

.search-box input{
	float: left;
	height: 40px;
	width: 100%;
	border: 1px solid #D7D7D7;
	border-radius: 0px;
}

.search-box button{
	float: left;
	background: rgba(51, 51, 51, 0);
	border: none;
	margin-left: -34px;
	color: #D5D5D5;
	position: absolute;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
}

.big-menu-only{
	-webkit-transition: 1s;
	transition: 1s;
}

.admin-side-menu{
	width: 220px;
	position: fixed;
	overflow: hidden;
	bottom: 0;
	left: 0;
	top: 65px;
	background: #111;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: 1s;
	transition: 1s;
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
}


.admin-side-menu.small{
	width: 72px;
}

.admin-side-menu.hover{
	width: 220px !important;
}
.admin-content {
	height: 1900px;
	width: calc(100% - 220px);
	padding-top: 65px;
	margin-left: 220px; 
	-webkit-transition: 1s;
	transition: 1s;
}

.admin-content.small {	
	width: calc(100% - 72px);
	margin-left: 72px;

}

.admin-content.hover {	
	width: calc(100% - 220px) !important;
	margin-left: 220px !important;

}

.container-full {
	width: 100%;
	height: auto;
}

.profile-info {
	width: 220px;
	padding: 15px 0 15px 10px;
	border-bottom: 2px solid #2D2D2D;
	margin-bottom: 10px;
	min-height: 80px;
}

.profile-info img {
	width: 50px;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 100%;
	float: left;
}

.user-info {
	color: #aeaeae;
	padding: 5px;
	margin-left: 60px;
	line-height: 16px;
	font-family: 'Open Sans', sans-serif;
}

.user-info h6{
	color: #fff;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.admin-side-nav {
	padding: 10px 0 10px 0;
}

.menu-container {
	width: 220px;
	padding: 15px 0 15px 0;
	min-height: 53px;
}

.menu-icon{
	width: 50px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	text-align: center;
	color: #999;
}
.menu-text {
	color: #aeaeae;
	margin-left: 60px;
	line-height: 16px;
}

.menu-text h6{
	color: #fff;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.underline-menu {
	margin-left: 70px;
	position: absolute;
	padding-top: 15px;
	width: calc(100% - 70px);
	border-bottom: solid 1px #2d2d2d;
}

.admin-side-nav li a:hover .menu-icon{
	color: #E51B22;
}

.admin-side-nav li a:hover .menu-item{
	color: #E51B22;
	background-color: #333;
}
.admin-side-nav li a:hover .menu-container{
	background-color: #222;
	padding-left: 10px;
	border-bottom: solid 1px #2d2d2d;
}

.admin-side-nav li a:hover .menu-container.small{
	background-color: #222;
	padding-left: 0;
	border-bottom: solid 1px #2d2d2d;
}

.admin-side-nav li a:hover .menu-container.hover{
	background-color: #222;
	padding-left: 10px;
	border-bottom: solid 1px #2d2d2d;
}

.admin-side-nav li a:hover .underline-menu{
	width: calc(100% - 80px);
}

.admin-side-nav li a:focus .menu-icon{
	color: #E51B22;
}

.admin-side-nav li a:focus .menu-item{
	color: #E51B22;
	background-color: #333;
}
.admin-side-nav li a:focus .menu-container{
	background-color: #222;
	padding-left: 10px;
	border-bottom: solid 1px #2d2d2d;
}

.admin-side-nav li a:focus .menu-container.small{
	background-color: #222;
	padding-left: 0;
	border-bottom: solid 1px #2d2d2d;
}

.admin-side-nav li a:focus .menu-container.hover{
	background-color: #222;
	padding-left: 10px;
	border-bottom: solid 1px #2d2d2d;
}

.admin-side-nav li a:focus .underline-menu{
	width: calc(100% - 80px);
}

.full-width {
	width: 100%;
}

#ordersTable {
	border-collapse: collapse;
	min-width: 860px;


}

#adminOrders {
	margin: 20px;
	background-color: #f7f7f7;
	border: solid 1px #EFEFEF;
	padding: 40px;
	overflow-x: auto;
	-webkit-transition: .5s;
	transition: .5s;

}

#adminOrders thead {
	text-align: left;
	line-height: 50px;
	border-bottom: 1px solid #DFDFDF;
}

#adminOrders tbody tr{
	text-align: left;
	line-height: 60px;
	border-bottom: 1px solid #DFDFDF;
}

#adminOrders:hover {
transition: 1s;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.admin-footer {
min-width: 220px;
width: 100%;
bottom: 0;
position: absolute;
padding: 20px;
text-align: center;
background: rgba(255, 255, 255, 0.03);
}

.orders-btn{
	padding: 9px 30px 9px 30px;
	font-size: 16px;
	color: #fff;
	border: 0px;
	background: #D3D3D3;
	border-radius: 0px;
}

.orders-btn:hover {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-webkit-transition: .3s;
	transition: .3s;
}


.tracking-btn {
	background-color: #3ac9cc;
	border: solid 0px #DB4B4B;
}

.accept-btn {
	background-color: #2ecc71;
	border: solid 0px #DB4B4B;
}

.decline-btn {
	background-color: #dd6666;
	border: solid 0px #DB4B4B;
}

.input-price {
	line-height: 30px;
	width: 120px;
	border: 1px solid #D7D7D7;
	font-size: 18px;
	padding-left: 10px;
}





